@mixin icon-fonts($content) {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: $content;
}
.icon{
	
	&--cart{
		@extend .fa;
		@extend .fa-shopping-cart;
	}
	
	&--sign{
		&-in{
			@extend .fa;
			@extend .fa-sign-in;
		}
		&-out{
			@extend .fa;
			@extend .fa-sign-out;
		}		
	}
	&--account{
		@extend .fa;
		@extend .fa-user;
	}
	&--more{
		@extend .fa;
		@extend .fa-chevron-right;
	}	
	&--search{
        @extend .fa;
        @extend .fa-search;
	}
	&--newsletter{
		@extend .fa;
		@extend .fa-envelope;
	}
    &__font{
        &--twiter{
            @include icon-fonts("\f081");
        }
        &--facebook{
            @include icon-fonts("\f082");
        } 
        &--googleplus{
            @include icon-fonts("\f0d4"); 
        }
        &--pinterest{
            @include icon-fonts("\f0d3"); 
        } 
        &--vimeo{
            @include icon-fonts("\f194"); 
        }
        &--youtube{
            @include icon-fonts("\f166"); 
        }
        &--instagram{
            @include icon-fonts("\f16d");
        }
        &--rss{
            @include icon-fonts("\f143");
        }
        &--pointer{
            @include icon-fonts("\f0de");
        }        
    }
    
}