@mixin icon-fonts($content) {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: $content;
}
.icon{
    &--size{
        &-2x{
            @extend .fa-2x;
        }
        &-3x{
            @extend .fa-3x;
        } 
        &-4x{
            @extend .fa-4x;
        }
        &-5x{
            @extend .fa-5x;
        }        
    }
	
	&--cart{
		@extend .fa;
		@extend .fa-shopping-cart;
	}
	
	&--sign{
		&-in{
			@extend .fa;
			@extend .fa-sign-in;
		}
		&-out{
			@extend .fa;
			@extend .fa-sign-out;
		}		
	}
	&--account{
		@extend .fa;
		@extend .fa-user;
	}
	&--more{
		@extend .fa;
		@extend .fa-chevron-right;
	}	
	&--search{
        @extend .fa;
        @extend .fa-search;
	}
	&--newsletter{
		@extend .fa;
		@extend .fa-envelope;
	}
	&--close{
		@extend .fa;
		@extend .fa-folder;
	} 
	&--open{
		@extend .fa;
		@extend .fa-folder-open;
	}
	&--vertical-close{
		@extend .fa;
		@extend .fa-chevron-down;
	} 
	&--vertical-open{
		@extend .fa;
		@extend .fa-chevron-up;
	}
	&--next{
		@extend .fa;
		@extend .fa-chevron-right;
	}  
    &--prev{
		@extend .fa;
		@extend .fa-chevron-left;
	}  
    &--addresses{
		@extend .fa;
		@extend .fa-address-card;
	} 
    &--addresses-add{
		@extend .fa;
		@extend .fa-calendar-plus-o;
	}  
    &--identity{
		@extend .fa;
		@extend .fa-newspaper-o;
	}  
    &--history{
		@extend .fa;
		@extend .fa-list-alt;
	}  
    &--order-slips{
		@extend .fa;
		@extend .fa-money;
	}  
    &--discounts{
		@extend .fa;
		@extend .fa-usd;
	}  
    &--returns{
		@extend .fa;
		@extend .fa-reply-all;
	}  
    
    &__font{
        &--twiter{
            @include icon-fonts("\f081");
        }
        &--facebook{
            @include icon-fonts("\f082");
        } 
        &--googleplus{
            @include icon-fonts("\f0d4"); 
        }
        &--pinterest{
            @include icon-fonts("\f0d3"); 
        } 
        &--vimeo{
            @include icon-fonts("\f194"); 
        }
        &--youtube{
            @include icon-fonts("\f166"); 
        }
        &--instagram{
            @include icon-fonts("\f16d");
        }
        &--rss{
            @include icon-fonts("\f143");
        }
        &--pointer{
            @include icon-fonts("\f0de");
        }        
    }
    
}